table{
    margin:0 auto;
    border-collapse: collapse;
}
td{
    border-style: solid;
    border-bottom-width: 1px;
    border-color: black;
}
header{
    text-align: center;
    font-family: cursive;
    font-size: xx-large;
    padding: 20px;
    color:white;
    background-image: url('IMG/quinnvalor.jpg');
}
 tr:nth-of-type(2n+1) td:nth-of-type(2n+1){
    background-color: lightblue;
}
 tr:nth-of-type(2n+2) td:nth-of-type(2n+2){
    background-color: lightblue;
}
tbody > tr:hover{
    background-color: green !important;
}
body{
  text-align: center;
}
input{
    color:white;
    background-color:blue;
}
footer{
    color:white;
    background-color: grey;
}
input{
    margin-top: 70px;
    border-radius: 30px;
}
button{
    border:none;
    color:white;
    background-color: blue;
    width:50%;
    margin-top: 30px;
    padding:15px;
    font-size: 40px;
    border-radius: 40px;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {position: relative;}
footer {position: absolute; bottom: 0; left: 0; right: 0}